
<h1>Article Index<h1>
  <ul>
    <% @articles.each do |article| %>

      <li>Title: <%= article["title"] %>, URL: <a href="<%= article['url'] %>" target="_blank"><%= article['url']%></a>, Description: <%=article["description"]%></li>

    <% end %>
    <a href="/articles/new">new article page </a>
  </ul>
